html,
body {
  background-color: #141414; /* keep dark even when hover cards overflow the page */
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1800px;
  padding: 1rem;
  text-align: center;
}

.app-container {
  background-color: #141414;
  min-height: 100vh;
}