#root {
  max-width: 1800px;
  padding: 1rem;
  text-align: center;
}

body {
  background-color: #f6f9ff;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: #f6f9ff;
  min-height: 100vh; /* Ensures the container covers the full viewport height */
}
