/* NEW: Styles for the streaming service filter */
.streaming-services-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.service-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5; /* Greyed out by default */
  transition: opacity 0.2s;
}

.service-icon.selected {
  opacity: 1; /* Full color when selected */
}

.service-icon img {
  width: 40px; /* Adjust size for icons */
  height: 40px;
}

.service-icon:not(.selected) {
  opacity: 0.4; /* Grey out unselected services */
}


/* NEW: Styles for the release year filter section */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust padding for better alignment and spacing */
}

.title {
  flex-grow: 1;
  text-align: center; /* Center the title text */
  margin-bottom: 20px; /* NEW: Add space below the title */
}

.reset-button {
  background-color: #808080; /* Color grey */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.filter-section {
  margin-bottom: 20px;
  width: 80%; /* Adjust the width of the filter section */
  margin-left: auto;
  margin-right: auto; /* Center the filter section horizontally */
}

.filter-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-dropdown {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px; /* NEW: Increase bottom padding */
}

.year-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; /* NEW: Add space above the slider */
}

.slider-track {
  flex-grow: 1;
  height: 6px;
  background: lightgray;
  margin: 0 25px; /* Space around the slider */
}

.slider-thumb {
  width: 35px;
  height: 35px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}






.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-card .card-img-top {
  height: 575px; /* Increase the height for images */
  object-fit: contain; /* Ensure the entire image is visible without distortion */
}

.movie-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* Allow card body to grow and fill the remaining space */
}

.movie-card .card-title {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.movie-card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.movie-card .card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Push footer to the bottom */
}


