/* Style for the search form */
form {
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

.search-movie-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.search-movie-btn:hover {
  background-color: #d80000;
}

.search-movie-btn:focus {
  outline: none;
}
